.languge{
    background-color: rgb(9, 50, 112);
    display: flex;
    justify-content: center;
}
.languge-item{
    margin: 10px;
    padding:0px 10px;
    border: #fff 1px solid;

}
.languge-link{
    color: #fff;
    text-decoration: none;
}