.main{
    height: 700px;
     background: 
     linear-gradient(
       rgba(101, 114, 150, 0.5),
       rgba(169, 172, 126, 0.5)
     ),
    url("./img20.webp")
      center;
      
  background-size: cover;
  top: 0;
}